<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>
    <div>
        Name: @ViewBag.Talent.Name
    </div>
    <div>
        Email: @ViewBag.Talent.Email
    </div>
    <div>
        Skills: @ViewBag.Talent.Skills
    </div>
</body>
</html>