@model HomeDetailsViewModel

@{
    ViewBag.Title = "Talent Details";
}
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1> @Model.Talent.Name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/download.jpg" />
                <h4>Talent ID: @Model.Talent.Id</h4>
                <h4>Email: @Model.Talent.Email</h4>
                <h4>Skills: @Model.Talent.Skills</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class=" btn btn-primary">Back</a>
                <a href="#" class=" btn btn-primary">Edit</a>
                <a href="#" class=" btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>