<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@ViewData["PageTitle"]</h3>
    @{
        var talent = ViewData["Talent"] as WeCode.Models.Talent;
    }
    <div>
        Name: @talent.Name
    </div>
    <div>
        Email: @talent.Email
    </div>
    <div>
        Skills: @talent.Skills
    </div>
</body>
</html>