@model WeCode.ViewModels.HomeDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Talent Details";
}
<h3>@Model.PageTitle</h3>
<div>
    Name: @Model.Talent.Name
</div>
<div>
    Email: @Model.Talent.Email
</div>
<div>
    Skills: @Model.Talent.Skills
</div>