@model IEnumerable<Talent>
@{ 
    ViewBag.Title = "Talent List";
}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Skills</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var talent in @Model)
        { 
            <tr>
                <td>@talent.Id</td>
                <td>@talent.Name</td>
                <td>@talent.Email</td>
                <td>@talent.Skills</td>
            </tr>
        }
    </tbody>
</table>